
.container {
  width: 100%;
}

.topSection {
  text-align: center;
}

.title {
  color: #0f305f;
}

.assignBtn {
  color: #0f305f;
  background-color: transparent;
  border: 2px solid #0f305f;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
}

.assignBtn:hover {
  cursor: pointer;
  background-color: #0f305f;
  color: white;
}

.workSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.registerSection {
  padding-left: 20px;
}

.leadSection {
  border-bottom: 1px solid #0f305f;
  border-bottom-style: dashed;
}

.addLead,
.addAgent {
  background-color: transparent;
  border: 0;
  color: #0f305f;
  font-size: 1.2rem;
  text-align: right;
  cursor: pointer;
  padding: 20px;
}

.leadInfo,
.agentInfo {
  font-size: 1.1rem;
}

.resultsSection {
  padding-left: 20px
}

.resultTag {
  color: #0f305f;
  font-size: 1.5rem;
  font-weight: bold;
}

.agentTitle {
  color: #0f305f;
  font-size: 1.4rem;
}

.icon {
  margin-left: 20px;
}

.icon:hover {
  cursor: pointer;
}

@media (max-width: 750px) {
  .workSection {
    grid-template-columns: 1fr;
    margin-bottom: 150px;
  }

  .agentSection {
    border-bottom: 1px solid #0f305f;
    border-bottom-style: dashed;
  }
}
